
	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<div class="span3 offset4">
				<h6>Where to get Seapal</h6>
				<p>
					Seapal is available in the following stores.
				</p>
				<div>
					<a href="http://itunes.apple.com/us/app/seapal/id561903907?mt=8&amp;uo=4" target="itunes_store"><img src="@routes.Assets.at("images/icons/IPAD.png")" alt="Icon-Small-50" width="20" height="20"> iPad App Store</a></li>
				
					<a href="http://itunes.apple.com/us/app/seapal/id561903907?mt=8&amp;uo=4" target="itunes_store"><img src="@routes.Assets.at("images/icons/Iphone.png")" alt="Icon-Small-50" width="20" height="20"> iPhone App Store</a></li>		
				</div>
			</div>

		</div>
		<div class="container" align="center">
			<br>
			<p>&copy; 2012 IBN Verlag</p>
		</div>
	</footer>
	