	<!-- Footer -->
	<footer class="footer">
		<div class="container" >
			<div class="navbar">
              <div class="navbar-inner">
                <ul class="nav nav-pills">
                  <li><a href="#">Home</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="impressum.html">Impressum</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="about.html">About</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li class="divider-vertical"></li>
                </ul>
              </div>
            </div>
		</div>

		<div class="container" align="center">
			<br>
			<p>&copy; 2012 IBN Verlag</p>
		</div>
	</footer>
	