@(header: Html)(navigation: Html)(footer: Html)

<!DOCTYPE html>

<html>
    <head>
        @header
    </head>
    <body id="indexbody">
		<div class="container">
    	@navigation
			<div id="myCarousel" class="carousel slide">
  						<ol class="carousel-indicators">
    						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  						</ol>
  						<!-- Carousel items -->
  						<div class="carousel-inner">
    						<div class="active item"><img src="@routes.Assets.at("images/icons/carou1.jpg")" alt="" style="width:1200px;height:500px" class="img-rounded">
    							<div class="container">
            						<div class="carousel-caption">
              							<h1 style="color:white;">Seapal</h1>
              							<p class="lead"> The Compass on your Pocket !</p>
              							<div class="container">
              								<a class="btn btn-large btn-primary" href="http://itunes.apple.com/us/app/seapal/id561903907?mt=8&amp;uo=4" ><img src="@routes.Assets.at("images/icons/Iphone.png")" alt="Icon-Small-50" width="20" height="20">Download IPhone Version</a>

            						<a class="btn btn-large btn-primary" href="http://itunes.apple.com/us/app/seapal/id561903907?mt=8&amp;uo=4"><img src="@routes.Assets.at("images/icons/Ipad.png")" alt="Icon-Small-50" width="20" height="20">Download IPad Version</a>
              							</div>
              						
            						</div>
          						</div>
    						</div>
    						<div class="item"><img src="@routes.Assets.at("images/icons/carou2.jpg")" alt="" style="width:1200px;height:500px" class="img-rounded">
    						<div class="container">
            						<div class="carousel-caption">
              							<h1 style="color:white;">Seapal</h1>
              							<p class="lead"> Compass and more !</p>
              							<div class="container">
              								<a class="btn btn-large btn-primary" href="screenshots.html" >  Screenshots  </a>
              								<a class="btn btn-large btn-primary" href="userguide.html" >User guide</a>
            						
              							</div>
              						
            						</div>
          						</div>
    						</div>
    						<div class="item"><img src="@routes.Assets.at("images/icons/carou3.jpg")" alt="" style="width:1200px;height:500px" class="img-rounded">
    							    							<div class="container">
            						<div class="carousel-caption">
              							<h1 style="color:white;">Seapal</h1>
              							<p class="lead"> The Compass on your Pocket !</p>
              							<div class="container">
              								<a class="btn btn-large btn-primary" href="http://itunes.apple.com/us/app/seapal/id561903907?mt=8&amp;uo=4" >Download IPhone Version</a>

            						<a class="btn btn-large btn-primary" href="http://itunes.apple.com/us/app/seapal/id561903907?mt=8&amp;uo=4">Download IPad Version</a>
              							</div>
              						
            						</div>
          						</div>
    						</div>
  						</div>
  						<!-- Carousel nav -->
  						<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  						<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
					</div>
	    	<div class="container-fluid">
		    	<div class="row-fluid">
		    		<!-- Sidebar -->
			    	<div class="span3 ">
				    	<div class="sidebar-nav">
					    	<ul class="nav nav-list bs-docs-sidenav" id="sidebar">
					    		<li class="sidebar"><a href="#" class="Seapal">What´s Seapal</a></li>
		                        <li class="sidebar"><a href="#" class="overview">Overview</a></li>
		                        <li class="sidebar"><a href="#" class="extension">Extension</a></li>
					        </ul>
					    </div>
					</div><!-- Sidebar -->
	    
					<div class="span9">  
						<div id="Seapal" class="post">
   							<div>
      							<div class="bs-docs-example" style="text-align: justify;">
								<h2>What´s SeaPal</h2>
								<p><img src="@routes.Assets.at("images/screenshots/Seapal2.jpg")" alt="" class="img-rounded" height="200" width="820">
          						<p>
		                            <b>SeaPal</b> is an App for sailors and other water sport fanatics that support the skipper in his tasks for navigation, route planing and logbook keeping. The central view shows a map with the current position and forward line. Waypoint and routes can easily be created, distances and courses can quickly be determined and documented in the logbook. The touch interface allows for fast and intuitive interaction.
		                        </p>
		                        <p>
		                            Online maps are available from Google and OpenSeaMap, allong with satellite view. With these a trip can easily be planed and documented. In navigation the offline operation and the precision and depth of detail is of special importance. Thats why digital sea maps for selected areas can be downloaded and used offline.
		                        </p>
		                        <p>
		                            For the area of the Lake Constance excellent sea maps and local information (harbours, shipyards, shops, restaurants) provided by the IBN publishing house are available as extensions. Further areas are in preparation.
		                        </p>
		                        <p>
		                            The application was developed particularly for the iPad in a cooperation between the IBN publishing house and the HTWG Constance University. The specific advantages of a mobile device and the touch interface were taken into account just as well as the special requirements of sailors and skippers. As a result of this cooperation, <b>SeaPal</b> is made available for free. Extensions and sea maps can be purchased and loaded according to your area and needs.
		                        </p>
		                        <p>
		                            This cooperation is open to further extension. Should you be interested to develop or provide further extensions, please contact us.
		                        </p>
		                        <p>
		                            The application runs on the iPad and with reduced functionality on the iPhone. An iPad with 3G or 4G and GPS is recommended. For longer use an external power source (like a USP port of a radio) is required.
		                        </p>
       						</div>
    						</div>
						</div>
						<div id="overview" class="post">
      							<div class="bs-docs-example" style="text-align: justify;">
								<h2>Function Overview</h2>
								<p><img src="@routes.Assets.at("images/screenshots/SeaPal-Horiz3.jpg")" class="img-rounded" alt="" height="200" width="820"></p>
								<p>
		                            <b>SeaPal</b> offers the following functionality
		                        </p>
		                        <ul>
		                            <li> Google Maps </li>
		                            <li> OpenSeaMaps </li>
		                            <li> Satellite view </li>
		                            <li> Follow position </li>
		                            <li> Position from GPS always visible in the map view </li>
		                            <li> Course and speed always visible in the map view </li>
		                            <li> Free navigation on the map with swipe and pinch </li>
		                            <li> Fast return to the current position </li>
		                            <li> Route planing, waypoints are editable </li>
		                            <li> Automatic waypoint switching </li>
		                            <li> Bearing and distance to any particular point with long-touch </li>
		                            <li> Placing of permanent marks on the map </li>
		                            <li> Add marks using bearing or coordinates </li>
		                            <li> Select any mark as target </li>
		                            <li> Bearing and distance to current target always visible in the map view </li>
		                            <li> Distance measurement, even across several waypoints </li>
		                            <li> &quotPerson over Board&quot functionality </li>
		                        </ul>
		                        <br><br>
       						</div>
						</div>

						<div id="extension" class="post">
      							<div class="bs-docs-example" style="text-align: justify;">
								<h2>Extensions</h2>
								<p>
	                            With extensions <b>SeaPal</b> offers the following functionality:
	                        	</p>
	                        <ul>
	                            <li> Logbook function for one or several boats </li>
	                            <li> Automatic tracking </li>
	                            <li> Automatic or manual logbook entries </li>
	                            <li> Fotos for logbook entries </li>
	                            <li> Collection of regional Points of Interest </li>
	                        </ul>
		                        <br><br>
       						</div>
						</div>
	                    <div class="post">
	                    	<div class="alert">
  								<h2>Warning</h2>
								<p>
	                        	<b>SeaPal</b> is a valuable addition to your navigational equipment, but no replacement. Always use official sea maps in conjunction. All positions are provided so that a transition to paper sea maps is simple. The responsibility for the proper use lies with the skipper. The manufacturer of <b>SeaPal</b> assume no liability.
	                        </p>
							</div> 
						</div>
	                </div><!-- Content -->
	            </div>
			</div>	
		</div><!-- Container -->

		<!-- Footer -->
    	@footer
    	
    </body>
</html>