@(header: Html)(navigation: Html)(navigation_app: Html)(data: String)

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<!-- Header -->
        @header
</head>
<body>

    	<!-- Navigation -->
    	@navigation
    	
    	<!-- Container -->
    	<div class="container-fluid">
    	
	    	<!-- Navigation -->
	    	@navigation_app

			<!-- Content -->
			<div id="appWrapper" align="center">
	            <br />
	            <h2>Weather Information</h2>
	            <br />
	            <div class="container-fluid">
	            	<form class="form-horizontal"> 
		            	<div class="row well" style="margin-left: 15%;">
		            		<div class="span4" align="center">	
		            			
		            			<div class="control-group">
			            			<label class="control-label">City Name</label>
			      						
	     								<input type="text" name="cityname" id="cityname"/>
    			        		</div>	
  							    <div class="control-group">
			            			<label class="control-label">Date</label>
			            			
      									<input id="date" type="date" name="observationdate">
    								
			                    </div>  
			            		<div class="control-group">
			            			<label class="control-label">Wind Strength</label>
			      						
	     								<input type="text" name="windstrength" id="windstrength"/>
    			        		</div>		
			            		<div class="control-group">
			            			<label class="control-label">Air Pressure</label>
			            			<input type="text" name="airpressure" id="airpressure"/>
			                    </div>
			                    <div class="control-group">
			            			<label class="control-label">Clouds</label>
			            			
      									<select name="clouds" id="clouds" size="0">
	     									<option value="1">Yes</option>
	      									<option value="0">No</option></select>
    								
			                    </div>     
			                    <div class="control-group">
			            			<label class="control-label">Wave Hight</label>
			            			<input type="text" name="wavehight" id="wavehight"/>   									
    								
			                    </div>        

		            		</div>
		            		<div class="span4">

		            			<div class="control-group">
			            			<br/>
    			        		</div>	
		    					<div class="control-group">
			            			<label class="control-label">Wave Direction</label>
			            			
      									<input type="text" name="wavedirection" id="wavedirection"/>
    								
			            		</div>       	
		            			<div class="control-group">
			            			<label class="control-label">Wind Direction</label>
			            			
      									<input type="text" name="winddirection" id="winddirection"/>
    								
			            		</div>
			            		<div class="control-group">
			            			<label class="control-label">Temperature</label>
			            			
      									<input type="text" name="temperature" id="temperature"/>
						
			                    </div>
			                    <div class="control-group">
			            			<label class="control-label">Rain</label>
			            			
      									<select name="rain" id="rain" size="0">
	     									<option value="1">Yes</option>
	      									<option value="0">No</option>
	      								</select>
    								
			                    </div> 
   
		            		</div>
		            	</div>      	 
		            	<div class="control-group">
			            	<input type="reset" class="btn" id="delete" value="L&ouml;schen" class="button"/>
			                <input type="submit" class="btn" id="save" name="submit" value="Speichern" class="button"/>
			            </div>  
		            </form>
	            </div>
	            <br />
	            <br />
	            <div class="appTableDiv" id="appRoutelist" align="center">
	                <table class="appTable table table-hover" id="tableLinesClickable" cellspacing="0px" cellpadding="5px">
	                    <thead>
	                        <tr>
	                        	<th>Date</th>
	                            <th>Wind Strength</th>
	                            <th>Wind Direction</th>
	                            <th>Air Pressure</th>
	                            <th>Temperature</th>
	                            <th>Wave Hight</th>
	                            <th>Wave Direction</th>
	                            <th></th>
	                        </tr>
	                    </thead>
	                    <tbody id="entries">
	                        @Html(data)
	                    </tbody>
	                </table>
	            </div>    
	        </div><!-- Content --> 
		</div><!-- Container -->
		
		<!-- Menu Modal -->
		<div class="modal hide fade" id="messageBox">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="dialogTitle"></h3>
			</div>
			<div class="modal-body">
				<p id="dialogMessage"></p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal"><i class="icon-ok"></i> ok</a>
			</div>
		</div>
		
		<!-- Additional Scripts -->
		<script src="@routes.Assets.at("javascripts/app/ajax/weatherinfo.js")" type="text/javascript"></script>
</body>
</html>